/* center everything */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
}

.meow {
    display:inline-block;
    transform: rotate(90deg);
    font-size: 100px;
}